{:paths   ["src/main" "resources"]

 :deps    {org.clojure/clojure               {:mvn/version "1.12.1"}
           bidi/bidi                         {:mvn/version "2.1.6"}
           com.taoensso/timbre               {:mvn/version "6.7.1"}
           com.wsscode/pathom                {:mvn/version "2.4.0"}
           com.fulcrologic/fulcro            {:mvn/version "3.9.0-rc9"}
           com.fulcrologic/fulcro-garden-css {:mvn/version "3.1.1"}
           com.fulcrologic/guardrails        {:mvn/version "1.2.9"}
           garden/garden                     {:mvn/version "1.3.10"}
           hiccup/hiccup                     {:mvn/version "2.0.0"}
           http-kit/http-kit                 {:mvn/version "2.8.0"}
           mount/mount                       {:mvn/version "0.1.23"}
           org.clojure/core.async            {:mvn/version "1.8.741"}

           ;; To simulate Datomic on the back-end
           datascript/datascript             {:mvn/version "1.7.5"}

           ring/ring-core                    {:mvn/version "1.14.2"}
           ring/ring-defaults                {:mvn/version "0.6.0"}}

 :aliases {:build     {:deps       {io.github.clojure/tools.build {:git/tag "v0.10.10" :git/sha "deedd623"}}
                       :ns-default build}
           :clj-tests {:extra-paths ["src/test"]
                       :main-opts   ["-m" "kaocha.runner"]
                       :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}

           ;; See https://github.com/clojure-emacs/cider-nrepl/blob/master/deps.edn for Emacs support
           :dev       {:extra-paths ["src/test" "src/dev" "src/workspaces"]
                       :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]
                       :extra-deps  {org.clojure/clojurescript      {:mvn/version "1.12.42"}
                                     thheller/shadow-cljs           {:mvn/version "3.2.0"}
                                     fulcrologic/fulcro-spec        {:mvn/version "3.1.12"}
                                     com.fulcrologic/fulcro-inspect {:mvn/version "1.0.4"}
                                     binaryage/devtools             {:mvn/version "1.0.7"}
                                     com.github.awkay/workspaces    {:mvn/version "1.1.2"},
                                     org.clojure/tools.namespace    {:mvn/version "1.5.0"}}}}}
