{:paths   ["src/main" "resources"]

 :deps    {org.clojure/clojure                 {:mvn/version "1.10.1"}
           bidi/bidi                           {:mvn/version "2.1.6"}
           com.taoensso/timbre                 {:mvn/version "5.0.0"}
           com.wsscode/pathom                  {:mvn/version "2.2.31"}
           com.fulcrologic/fulcro              {:mvn/version "3.4.4"}
           com.fulcrologic/fulcro-garden-css   {:mvn/version "3.0.8"}
           com.fulcrologic/semantic-ui-wrapper {:mvn/version "1.0.1"}
           com.fulcrologic/guardrails          {:mvn/version "0.0.12"}
           garden/garden                       {:mvn/version "1.3.9"}
           hiccup/hiccup                       {:mvn/version "1.0.5"}
           http-kit/http-kit                   {:mvn/version "2.5.0"}
           mount/mount                         {:mvn/version "0.1.16"}
           org.clojure/core.async              {:mvn/version "1.3.610"}

           ;; To simulate Datomic on the back-end
           datascript/datascript               {:mvn/version "0.18.7"}

           ring/ring-core                      {:mvn/version "1.8.1"}
           ring/ring-defaults                  {:mvn/version "0.3.2"}}

 :aliases {:clj-tests {:extra-paths ["src/test"]
                       :main-opts   ["-m" "kaocha.runner"]
                       :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.700"}}}

           ;; See https://github.com/clojure-emacs/cider-nrepl/blob/master/deps.edn for Emacs support
           :dev       {:extra-paths ["src/test" "src/dev" "src/workspaces"]
                       :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]
                       :extra-deps  {org.clojure/clojurescript   {:mvn/version "1.10.773"}
                                     thheller/shadow-cljs        {:mvn/version "2.11.8"}
                                     fulcrologic/fulcro-spec     {:mvn/version "3.1.8"}
                                     binaryage/devtools          {:mvn/version "1.0.0"}
                                     com.github.awkay/workspaces {:mvn/version "1.0.2"},
                                     org.clojure/tools.namespace {:mvn/version "1.0.0"}}}}}
