{:taoensso.timbre/logging-config {:level :debug}
 :database-spec {:username      "postgres"
                 :password      "password"
                 :server-name   "localhost"
                 :port-number   5432
                 :database-name "postgres"
                 :sslmode       "disable"}}
